html{
  background:url("IMG1/4.gif")repeat ;
  background-attachment:fixed;}
  
td.a{
	background:url("IGNITEIMG/257.jpg");
	background-size:cover;
	text-decoration:none;
	}
	
span{
	text-decoration:underline;}

td.b{
	background:url("IGNITEIMG/k.gif");
	background-size:cover;
	color:white;
	}
	
td.c{
	background:url("IGNITEIMG/502.gif");
	background-size:cover;
	color:white;
	}
	
td.d{
	background:url("IGNITEIMG/513.jpeg");
	background-size:cover;
	color:white;
	}
	
td.e{
	background:url("IGNITEIMG/236.jpg");
	background-size:cover;
	color:white;
	}
	
td.f{
	background:url("IGNITEIMG/221.jpg");
	background-size:cover;
	color:white;
	}

a:link {color:white;}
a:visited {color: white}
a:hover {color: white}
a:active {color: white}

ui,li{
	font-size:125%;
	font-weight:bold;
	}

p{
	font-size:130%;
	font-weight:bold;
	}
